#team_a_player {
    border-radius: 10px;
    padding: 20px;
    width: 475px;
    height: 40px;
    font-weight: 900;
    color: navy;
    text-align: center;
}

#team_b_player {
    border-radius: 10px;
    padding: 20px;
    width: 475px;
    height: 40px;
    font-weight: 900;
    color: navy;
    text-align: center;
}

#team_a_stat {
    border-radius: 10px;
    padding: 20px;
    width: 150px;
    height: 40px;
    font-weight: 900;
    color: navy;
    text-align: center;
}

#team_b_stat {
    border-radius: 10px;
    padding: 20px;
    width: 150px;
    height: 40px;
    font-weight: 900;
    color: navy;
    text-align: center;
}

#searcha {
    border-radius: 10px;
    border: 3px solid navy;
    padding: 20px;
    width: 475px;
    height: 10px;
    outline: none;
    font-weight: 900;
    color: navy;
}

#searchb {
    border-radius: 10px;
    border: 3px solid navy;
    padding: 20px;
    width: 475px;
    height: 10px;
    outline: none;
    font-weight: 900;
    color: navy;
}

#searchc {
    border-radius: 10px;
    border: 3px solid navy;
    padding: 20px;
    width: 475px;
    height: 10px;
    outline: none;
    font-weight: 900;
    color: navy;
}

#searchd {
    border-radius: 10px;
    border: 3px solid navy;
    padding: 20px;
    width: 475px;
    height: 10px;
    outline: none;
    font-weight: 900;
    color: navy;
}

#searche {
    border-radius: 10px;
    border: 3px solid navy;
    padding: 20px;
    width: 475px;
    height: 10px;
    outline: none;
    font-weight: 900;
    color: navy;
}

#searchf {
    border-radius: 10px;
    border: 3px solid navy;
    padding: 20px;
    width: 475px;
    height: 10px;
    outline: none;
    font-weight: 900;
    color: navy;
}

#stat_team_a_search_a {
    border-radius: 10px;
    border: 3px solid navy;
    padding: 20px;
    width: 150px;
    height: 10px;
    outline: none;
    font-weight: 900;
    color: navy;
    text-align: center;
}

#stat_team_b_search_a {
    border-radius: 10px;
    border: 3px solid navy;
    padding: 20px;
    width: 150px;
    height: 10px;
    outline: none;
    font-weight: 900;
    color: navy;
    text-align: center;
}

#stat_team_a_search_b {
    border-radius: 10px;
    border: 3px solid navy;
    padding: 20px;
    width: 150px;
    height: 10px;
    outline: none;
    font-weight: 900;
    color: navy;
    text-align: center;
}

#stat_team_b_search_b {
    border-radius: 10px;
    border: 3px solid navy;
    padding: 20px;
    width: 150px;
    height: 10px;
    outline: none;
    font-weight: 900;
    color: navy;
    text-align: center;
}

#stat_team_a_search_c {
    border-radius: 10px;
    border: 3px solid navy;
    padding: 20px;
    width: 150px;
    height: 10px;
    outline: none;
    font-weight: 900;
    color: navy;
    text-align: center;
}

#stat_team_b_search_c {
    border-radius: 10px;
    border: 3px solid navy;
    padding: 20px;
    width: 150px;
    height: 10px;
    outline: none;
    font-weight: 900;
    color: navy;
    text-align: center;
}

#displaya {
    font-weight: 900;
    color: navy;
}

#displayb {
    font-weight: 900;
    color: navy;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-item {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    color: #000080;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #000080;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#players {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#players td,
#players th {
    border: 1px solid #ddd;
    padding: 8px;
}

#players tr:hover {
    background-color: #ddd;
}

#players th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000080;
    color: white;
    width: auto;
}

.column {
    height: 75px;
    text-align: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.button2 {
    display: inline-block;
    border-radius: 4px;
    background-color: #000080;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button2:hover span {
    padding-right: 25px;
}

.button2:hover span:after {
    opacity: 1;
    right: 0;
}